[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pyfunctional = "*"
psycopg2 = "*"
sqlalchemy = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-isort = "*"
pre-commit = "*"
flake8-docstrings = "*"
flake8-broken-line = "*"
flake8-eradicate = "*"
flake8-comprehensions = "*"
flake8-bugbear = "*"
flake8-pep3101 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
