-i https://pypi.org/simple
colorama==0.4.1
dill==0.2.7.1
future==0.18.2
numpy==1.17.4
pandas==0.25.3
psycopg2==2.8.4
pyfunctional==1.3.0
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sqlalchemy==1.3.11
stringcase==1.2.0
tabulate==0.8.6
